@media only screen and (max-width: 750px) {
  #main-stage {
    display: flex;
    flex-direction: column;
    > * {
      margin: 10px 0;
    }
  }
  #attribute-container {
    display: flex;
    align-items: center;
    justify-content: middle;
    width: 100%;
  }

  #saving-throw-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin-left: 15px;

    .attribute-name {
      width: 20px;
    }
  }

  #saving-throw {
    display: flex;
    align-items: center;
    width: 125px;
  }

  #saving-throw-label {
    grid-column: 1/3;
  }

  #attribute-container .attribute-box {
    margin: 0 5px;
  }

  .attribute-box {
    /* flex-grow: 1; */
    min-width: 80px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    .attribute-name {
      margin-bottom: 5px;
    }
    .modifier {
      background-color: white;
      border: 2px solid black;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-align: center;
      vertical-align: middle;
      font-size: 1.2rem;
      position: absolute;
      bottom: -15px;
    }
  }

  #portrait {
    min-height: 170px;
    max-height: 170px;
    max-width: 170px;
    min-width: 170px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 10px;
  }

  #hud-container {
    display: inline-block;

  }

  #name-container {

  }

  #passive-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
  }

  #face-container {
    display: flex;
    margin-bottom: 20px;
  }

  #data-container {
    display: flex;
  }

  #saving-throw-container {
    min-width: 125px;
  }

  .tab {
    height: 450px;
    overflow-y: auto;
    margin-top: 10px;
  }
}

#main-stage {
  display: flex;
}

#tab-container {}

#tab-page {
  border-style: solid;
}

#tab-header {
  display: flex;
}

#tab-header span {
  flex-grow: 1;
}

#tab-header span:hover {
  background-color: #444;
}

#tab-container span {
  padding: .5rem;
}

#attribute-container {
  display: flex;
  justify-content: space-around;
}

.attribute-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  border: 2px solid black;
  border-radius: 10px;
}

.attribute-box input {
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

input {
  border-style: none;
  box-sizing: border-box;
}

.wealth {
  margin: 10px 0;
  > div {
    > span {
      margin-right: 10px;
    }
  }
}