#main-stage {
  display: flex;
}

#tab-container {}

#tab-page {
  border-style: solid;
}

#tab-header {
  display: flex;
}

#tab-header span {
  flex-grow: 1;
}


#tab-container span {
  padding: .5rem;
}

#passive-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  width: fit-content;
}

#saving-throw-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 5px;
  width: fit-content;
  #saving-throw-label {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

#attribute-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .attribute-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 20px;
    .attribute-name {
      margin-bottom: 5px;
    }
    .modifier {
      border: 2px solid;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      text-align: center;
      font-size: 1.5rem;
      position: absolute;
      bottom: -15px;
    }
  }

}

.attribute-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: middle;
  border: 2px solid;
  border-radius: 10px;
  margin-right: 10px;
  padding: 1rem;
}

.attribute-box input {
  font-size: 1.2rem;
}

.center {
  text-align: center;
}

input {
  border-style: none;
  box-sizing: border-box;
}

.wealth {
  margin: 10px 0;
  > div {
    > span {
      margin-right: 10px;
    }
  }
}

#data-container {
  display: flex;
}

#face-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  #portrait {
    #image {
      height: 150px;
      width: 150px;
      border: 2px solid;
      border-radius: 10px;
    }
  }
}


@media only screen and (max-width: 750px) {
  #main-stage {
    display: flex;
    flex-direction: column;
  }

  #passive-container {
    width: auto;
  }

  #saving-throw-container {
    width: auto;
  }

  #attribute-container {
    width: auto;
  }

  #hud-container {
    display: inline-block;

  }

  #name-container {

  }

  #saving-throw-container {
    min-width: 125px;
  }

  .tab {
    height: 450px;
    overflow-y: auto;
    margin-top: 10px;
  }
}